<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624198427761-g30ftuakbvqfu89020shmvorou8kdefp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624198427761-g30ftuakbvqfu89020shmvorou8kdefp</string>
	<key>API_KEY</key>
	<string>AIzaSyBYS-jdjSP_mdPYGVmYjZu9IXwaUq9vdoY</string>
	<key>GCM_SENDER_ID</key>
	<string>624198427761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yummatech.flexapp</string>
	<key>PROJECT_ID</key>
	<string>flex-app-fcb6b</string>
	<key>STORAGE_BUCKET</key>
	<string>flex-app-fcb6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624198427761:ios:f591cbb64533115268e7d0</string>
</dict>
</plist>